.search-container{

    width:100%;

    text-align:center;

    padding:40px 20px;

}

.search-container h1{

    color:white;

    font-size:40px;

    margin-bottom:10px;

}

.search-container p{

    color:#94a3b8;

    margin-bottom:30px;

}

.search-form{

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;

}

.search-form input{

    width:450px;

    max-width:90%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:10px;

    font-size:16px;

}

.search-form button{

    padding:15px 35px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.search-form button:hover{

    background:#1d4ed8;

}

.search-form button:disabled{

    background:gray;

    cursor:not-allowed;

}